<div class="sas-artist-search">
  <div class="sas-artist-search__cover">
    <img class="sas-artist-search__image" src="/images/spotify-background.jpeg" alt="">
  </div>
  <form class="sas-artist-search__form" action="/artist-search" method="GET">
    <input class="sas-artist-search__input" type="search" placeholder="Search for an Artist..." name="q" />
    <button class="sas-artist-search__button">Search for an Artist</button>
  </form>
</div>