<form class="sas-artist-search" action="/artist-search" method="GET">
  <input class="sas-artist-search__input" type="search" placeholder="Search for an Artist..." name="q" />
  <button class="sas-artist-search__button">Search for an Artist</button>
</form>
