/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
}

img {
  display: inline-block;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
/* Utilities */

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Components */

/* Collection */
.sas-collection {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sas-collection__entry:not(:first-child) {
  margin-top: 1em;
}

@media (min-width: 400px) {
  .sas-collection {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
  }

  .sas-collection__entry:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: 700px) {
  .sas-collection {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Card */
.sas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18em;
  padding-bottom: 0.7em;
  background-color: grey;
}

/* 2: Forcing Square Ratio */
.sas-card-media {
  position: relative; /* 2 */
  height: 0; /* 2 */
  width: 100%; /* 2 */
  padding-top: 100%; /* 2 */
  overflow: hidden; /* 2 */
}

.sas-card-media__image {
  position: absolute; /* 2 */
  left: 0; /* 2 */
  top: 0; /* 2 */
  right: 0; /* 2 */
}

.sas-card__name {
  color: white;
  margin: 0.4em;
  padding: 0;
  text-align: center;
}

.sas-card__button {
  padding: 0.5em 1em;
  color: white;
  background-color: salmon;
  border-radius: 0.25em;
  text-decoration: none;
  font-weight: 600;
  margin-top: auto;
}

/* Artist Search Component */

.sas-artist-search {
  display: grid;
  position: relative;
}

.sas-artist-search__cover {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  overflow: hidden;
}

.sas-artist-search__cover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: orangered;
  mix-blend-mode: hue;
}

.sas-artist-search__image {
  display: block;
  min-height: 100vh;
  object-fit: cover;
  filter: blur(10px);
  transform: scale(1.1);
}

/* 1: make container responsive; as wide as possible but not wider than the max value */
.sas-artist-search__form {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff88;
  padding: 4em 6em;
  width: 100%; /* 1 */
  max-width: 40em; /* 1 */
  z-index: 1;
}

.sas-artist-search__input,
.sas-artist-search__button {
  font-weight: 600;
  font-size: 1rem;
}

.sas-artist-search__input {
  padding: 0.5em 1em;
  max-width: 25em;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.25em;
}

.sas-artist-search__button {
  border: 0;
  padding: 0.5em 1em;
  margin-top: 1em;
  color: white;
  background-color: salmon;
}

/* Views */

/* Artist Search - Homepage */

.spotify-artist-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

/* Search Result & Albums */

.sas-search-results,
.sas-albums {
  margin: 0 2em 2em;
}

/* Tracks */

.sas-tracks {
  border-spacing: 0;
  width: calc(100% - 2em);
}

.sas-tracks__head {
  background-color: #222;
  color: lightgrey;
  font-weight: 600;
  font-size: 1.5em;
}

.sas-tracks__title-headline {
  padding: 1.5em 2rem;
  text-align: left;
}

.sas-track {
  background-color: #f1f3f4;
  font-weight: 600;
}

.sas-track__entry {
  border-top: 2px solid white;
}

.sas-track__name {
  padding-left: 2rem;
}

.sas-track__action {
  width: 300px;
  text-align: right;
}
